.resize {
    width: 100px;
    height: auto;
}

.resize {
    width: 100px;
    height: auto;
}

img:hover {
    -webkit-filter: hue-rotate(90deg); /* Safari */
    filter: hue-rotate(90deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    position: relative;
}
	
h1 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p,a {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
    line-height: 150%; 
}

a:link {
    text-decoration: none;
    color: blue;
}

a:visited {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
    color: red;
}

a:active {
    text-decoration: underline;
}

ul {
    list-style: none;
    float: left; 
}

li {
    width: 100px;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
}

#project-0 {
    width: 600px; 
    position: relative;
    margin:0 auto;
    line-height: 1.4em;
    top: 40%;
    margin-top: -200px;
}

#project-1 {
    width: 600px; 
    position: relative;
    margin:0 auto;
    line-height: 1.4em;
    top: 40%;
    margin-top: -200px;
}

#project-2 {
     width: 600px; 
    position: relative;
    margin:0 auto;
    line-height: 1.4em;
    top: 40%;
    margin-top: -200px;
}

#project-3 {
    width: 600px; 
    position: relative;
    margin:0 auto;
    line-height: 1.4em;
    top: 40%;
    margin-top: -200px;
}

#project-4 {
    width: 600px; 
    position: relative;
    margin:0 auto;
    line-height: 1.4em;
    top: 40%;
    margin-top: -200px;
}

#project-5 {
    width: 600px; 
    position: relative;
    margin:0 auto;
    line-height: 1.4em;
    top: 40%;
    margin-top: -200px;
}

#project-6 {
    width: 600px; 
    position: relative;
    margin:0 auto;
    line-height: 1.4em;
    top: 40%;
    margin-top: -200px;

.project-container {
    position: relative;
    width: 50%; 
}

.project-container:hover .overlay {
    height: 100%; 
}

.project-container-text {
    white-space: nowrap;
    color: white; 
    font-size: 20px; 
    position: absolute;
    overflow: hidden;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.project-image {
    width: 100%; 
    height: auto; 
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

#content-centred{
/*    height: 400px;
    width: 600px;*/

    width: 600px; 
    position: relative;
    margin:0 auto;
    line-height: 1.4em;
    top: 40%;
    margin-top: -200px;

    /* position: fixed; */
/*    display: block;
    position: relative;
    top: 40%;
    left: 45%;
    margin-top: -200px;
    margin-left: -200px;*/
        animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

#content-centred-projects{ 
/*    height: 400px;
    width: 600px;
    margin-bottom: 50cm; */

    width: 600px; 
    position: relative;
    margin:0 auto;
    line-height: 1.4em;
    top: 40%;
    margin-top: -200px;

    /* position: fixed; */
/*    position: relative;
    top: 40%;
    left: 45%;
    margin-top: -200px;
    margin-left: -200px;*/
        animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
 }

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 479px){
    #content-centred { width: 90%; }
}







